

<div class="px-2 max-w-3xl mx-auto">
    <h2 class="mb-2"><%= t('.vaccine_providers_we_track') %></h2>
  <div class="shadow overflow-y-auto border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200 table-auto">
      <thead class="bg-gray-200 sticky">
        <tr>
          <th scope="col" class="px-6 py-1 text-left text-xs text-gray-700 uppercase tracking-wider"><%= t('.table_header_provider_source') %></th>
          <th scope="col" class="px-6 py-1 text-left text-xs text-gray-700 uppercase tracking-wider"><%= t('.table_header_sites') %></th>
          <th scope="col" class="px-6 py-1 text-left text-xs text-gray-700 uppercase tracking-wider"><%= t('.table_header_type') %></th>
          <th scope="col" class="px-6 py-1 text-left text-xs text-gray-700 uppercase tracking-wider"><%= t('.table_header_status') %></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
      <% @vaxspotter_providers.each do |provider| %>
        <tr>
          <td class="px-6 py-1 whitespace-nowrap text-xs text-gray-700"><%= provider[:name] %></td>
          <td class="px-6 py-1 whitespace-nowrap text-xs text-gray-700"><%= provider[:count] %></td>
          <td class="px-6 py-1 whitespace-nowrap text-xs text-gray-700"><%= provider[:type] %></td>
          <td class="px-6 py-1 whitespace-nowrap text-xs text-gray-700"><%=  provider[:status] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="px-2 max-w-3xl mx-auto mt-8 prose">
  <h2>
    <%= t('.pharmacies_h2') %>
  </h2>
  <div class="flex my-2 text-sm font-mono">
    <%= render partial: 'shared/update', locals: {
                                                  message: t('.pharmacies_message'),
                                                } %>
  </div>
  <p>
    <%= t('.pharmacies_text_a') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://www.cdc.gov/vaccines/covid-19/retail-pharmacy-program/index.html"><%= t('.pharmacies_text_link_a') %></a>
    <%= t('.pharmacies_text_b') %>
  </p>
  <p>
    <%= t('.pharmacies_text_c') %>
  </p>

  <h2>
    <%= t('.hospitals_clinics_h2') %>
  </h2>
  <p>
    <%= t('.hospitals_clinics_text_a') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://healthy.kaiserpermanente.org/health-wellness/coronavirus-information/covid-vaccine/vaccination-eligibility"><%= t('.hospitals_clinics_link') %></a>
  </p>
  <p>
    <%= t('.hospitals_clinics_text_b') %>
  </p>

  <h2>
    <%= t('.community_sites_h2') %>
  </h2>
  <div class="flex my-2 text-sm font-mono">
    <%= render partial: 'shared/update', locals: {
                                                  message: t('.community_sites_message'),
                                                } %>
  </div>
  <p>
    <%= t('.community_sites_text_a') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/vaccines/phases.html"><%= t('.community_sites_text_link_a') %></a>
    <%= t('.community_sites_text_b') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://www.sandiego.gov/covid-19-vaccination"><%= t('.community_sites_text_link_b') %></a>
    <%= t('.community_sites_text_c') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://myturn.ca.gov/"><%= t('.community_sites_text_link_c') %></a>
    <%= t('.community_sites_text_d') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://health.ucsd.edu/coronavirus/Pages/vaccine.aspx"><%= t('.community_sites_text_link_d') %></a>
    <%= t('.community_sites_text_e') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://www.sharp.com/coronavirus/vaccines.cfm"><%= t('.community_sites_text_link_e') %></a>
  </p>
  <p>
    <%= t('.community_sites_text_f') %>
    <a target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline" href="https://myturn.ca.gov/"><%= t('.community_sites_text_link_f') %></a>
  </p>
</div>