<div class="bg-gray-200 px-2 pb-2 pt-3">
  <h2 class="mb-2 text-gray-700 text-lg"><%= stale_appt_msg %></h2>
</div>
<div class="py-4 px-6 border-2 border-gray-300 h-96 overflow-y-auto opacity-70 shadow-inner">
  <ul class="space-y-8">
    <% @last_24_hour_locations.each do | location | %>
      <li class="bg-white shadow-md overflow-hidden rounded-md">
        <div class="rounded-t-md px-6 py-4">
          <h3 class="text-xl"><%= location.name %></h3>
          <p class="text-gray-700 font-light"><%= location.address %></p>
          <div class="flex mt-3 space-x-3">
            <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
              <%= location.managed_by %>
            </span>
            <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
              <%= location.city %>
            </span>
            <% if location.postal_code? %>
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= location.postal_code %>
              </span>
            <% end %>
            <% if location.is_drive_thru? %>
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= drive_thru %>
              </span>
            <% end %>
            <% if location.is_walk_thru? %>
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= walk_thru %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="mt-3 mb-2 px-6 py-2 text-gray-600 space-y-1">
          <% @last_24_hour__appointments.each do | appointment | %>
            <% if appointment.location_id == location.id %>
              <div class="flex justify-start">
                <div class="font-mono pr-3"><%= appointment.date.strftime("%b %d") %></div>
                <% if appointment.start_time? %>
                  <div class="font-mono pr-3">&#8594; <%= appointment.start_time.strftime("%l:%M%P") %></div>
                <% end %>
                <% if appointment.end_time? %>
                  <div class="font-mono">- <%= appointment.end_time.strftime("%l:%M%P") %></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="self-center cursor-not-allowed">
          <div class="self-center rounded-b-md bg-blue-600 px-6 py-2 opacity-50">
            <span class="flex justify-center text-white text-lg font-medium"><%= card_button %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>