<div class="pb-24">
  <div class="max-w-3xl mx-auto px-4 space-y-3 prose">
    <div>
      VaxSpotter watches for new and updated Covid-19 vaccination appointments in the San Diego County area.
      <span class="ml-2 inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pink-200 text-pink-800">
        <%= @last_updated %>
      </span>
    </div>
    <ul class="pl-3 space-y-1">
      <li> Follow our Twitter
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/VaxSpotter" class="hover:underline italic">(@vaxspotter)</a> 
        account to be notified when we find new appointments</li>
      <li> Various agencies list appointment openings at different times. Check back here often for updated data.</li>
    </ul>
    <p>We will continue to try adding new appointment locations and data sources. If you find this info to be helpful, consider making a donation to 
      <a target="_blank" rel="noopener noreferrer" href="https://volunteertransportationcenter.org/donate/" class="hover:underline italic">The Volunteer Transportation Center</a>
    </p>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-8">
    <%= render partial: 'shared/notification', locals: {
                                                  message: "As of 02/27/21, the County of San Diego is only vaccinating people who live or work in San Diego County AND are in Phase 1A or Phase 1B (includes persons age 65 and older).",
                                                  url: "https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/vaccines/phases.html"
                                                } %>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-8">
    <ul class="space-y-8">
      <% @valid_locations.each do | location | %>
        <li class="bg-white shadow-md overflow-hidden rounded-md">
          <div class="rounded-t-md px-6 py-4">
            <h3 class="text-xl"><%= location.name %></h3>
            <p class="text-gray-700 font-light"><%= location.address %></p>
            <div class="flex mt-3 space-x-3">
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= location.managed_by %>
              </span>
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= location.city %>
              </span>
              <% if location.is_drive_thru? %>
                <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                  Drive-thru
                </span>
              <% end %>
              <% if location.is_walk_thru? %>
                <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                  Walk-thru
                </span>
              <% end %>
            </div>
          </div>

          <div class="mt-3 mb-2 px-6 py-2 text-gray-600 space-y-1">
            <% @current_appointments.each do | appointment | %>
              <% if appointment.location_id == location.id %>
                <div class="flex justify-start">
                  <div class="font-mono pr-3"><%= appointment.date.strftime("%b %d") %></div>
                  <% if appointment.start_time? %>
                    <div class="font-mono pr-3">&#8594; <%= appointment.start_time.strftime("%l:%M%P") %></div>
                  <% end %>
                  <% if appointment.end_time? %>
                    <div class="font-mono">- <%= appointment.end_time.strftime("%l:%M%P") %></div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

          <a target="_blank" rel="noopener noreferrer" href=<%= location.appointment_url %> class="self-center">
            <div class="self-center rounded-b-md bg-blue-100 hover:bg-blue-200 hover:text-blue-900 px-6 py-2">
              <span class="flex justify-center text-blue-700 text-lg font-medium">Click For Reservation</span>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="max-w-3xl mx-auto mt-8 bg-white rounded shadow">
    <div class='tableauPlaceholder' id='viz1615222002377' style='position: relative'>
      <noscript>
        <a href='#'>
          <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19VaccineDashboardPublic&#47;Vaccine&#47;1_rss.png' style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='COVID-19VaccineDashboardPublic&#47;Vaccine' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19VaccineDashboardPublic&#47;Vaccine&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
        <param name='filter' value='publish=yes' />
      </object>
    </div>
  </div>
</div>

<script type='text/javascript'>
  var divElement = document.getElementById('viz1615222002377');
  var vizElement = divElement.getElementsByTagName('object')[0];
    if ( divElement.offsetWidth > 800 ) {
      vizElement.style.minWidth='500px';
      vizElement.style.maxWidth='800px';
      vizElement.style.width='100%';
      vizElement.style.height='527px';
    }
    else if ( divElement.offsetWidth > 500 ) {
      vizElement.style.minWidth='500px';
      vizElement.style.maxWidth='800px';
      vizElement.style.width='100%';
      vizElement.style.height='527px';
    }
    else {
      vizElement.style.width='100%';
      vizElement.style.height='927px';
    }
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>



