<div class="pb-24">
  <div class="max-w-3xl mx-auto px-4 space-y-3 prose">
    <div>
      VaxSpotter watches for new and updated Covid-19 vaccination appointments in the San Diego County area.
      <span class="ml-2 inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pink-200 text-pink-800">
        <%= @last_updated %>
      </span>
    </div>
    <ul class="pl-3 space-y-1">
      <li> Follow our Twitter
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/VaxSpotter" class="hover:underline italic">(@vaxspotter)</a> 
        account to be notified when we find new appointments</li>
      <li>Various agencies, providers, and data sources list appointment openings at different times. Check back here often for updated data.</li>
      <li>Vaccine availibilty changes frequently, click the reservation button to ... blah blah</li>
    </ul>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-8">
    <%= render partial: 'shared/notification', locals: {
                                                  message: "As of 02/27/21, the County of San Diego is only vaccinating people who live or work in San Diego County AND are in Phase 1A or Phase 1B (includes persons age 65 and older).",
                                                  url: "https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/vaccines/phases.html"
                                                } %>
  </div>
  <div class="max-w-3xl mx-auto px-4 mt-4">
    <%= render partial: 'shared/notification', locals: {
                                                  message: "As of 03/15/21, Phase 1C vaccinations are available to those with certain health conditions, disabilities, illness, living spaces, or work environments that put them at higher risk.",
                                                  url: "https://www.sandiegocounty.gov/content/dam/sdc/hhsa/programs/phs/Epidemiology/covid19/vaccines/Phase%201B%20Next%20Groups_Who%20is%20Eligible_Medical_Conditions.pdf"
                                                } %>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-16">
    <% if @valid_locations.length == 0 %>
      <%= render partial: 'no_appointments.html' %>
    <% else %>
      <%= render partial: 'appointments' %>
    <% end %>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-4">
    <ul class="space-y-8">
      <% @valid_locations.each do | location | %>
        <li class="bg-white shadow-md overflow-hidden rounded-md">
          <div class="rounded-t-md px-6 py-4">
            <h3 class="text-xl"><%= location.name %></h3>
            <p class="text-gray-700 font-light"><%= location.address %></p>
            <div class="flex mt-3 space-x-3">
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= location.managed_by %>
              </span>
              <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                <%= location.city %>
              </span>
              <% if location.is_drive_thru? %>
                <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                  Drive-thru
                </span>
              <% end %>
              <% if location.is_walk_thru? %>
                <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                  Walk-thru
                </span>
              <% end %>
            </div>
          </div>

          <div class="mt-3 mb-2 px-6 py-2 text-gray-600 space-y-1">
            <% @current_appointments.each do | appointment | %>
              <% if appointment.location_id == location.id %>
                <div class="flex justify-start">
                  <div class="font-mono pr-3"><%= appointment.date.strftime("%b %d") %></div>
                  <% if appointment.start_time? %>
                    <div class="font-mono pr-3">&#8594; <%= appointment.start_time.strftime("%l:%M%P") %></div>
                  <% end %>
                  <% if appointment.end_time? %>
                    <div class="font-mono">- <%= appointment.end_time.strftime("%l:%M%P") %></div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

          <a target="_blank" rel="noopener noreferrer" href=<%= location.appointment_url %> class="self-center">
            <div class="self-center rounded-b-md bg-blue-600 hover:bg-blue-500 hover:text-white px-6 py-2">
              <span class="flex justify-center text-white text-lg font-medium">Click For Reservation</span>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-24">
    <% if @last_24_hour_locations.length > 0 %>
      <%= render partial: 'stale_appointments' %>
    <% end %>
  </div>



