<div class="pb-24">
  <div class="max-w-3xl mx-auto px-4 space-y-3 prose">
    <div>
      <%= t('.welcome_message') %>
      <span class="ml-2 inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pink-200 text-pink-800">
        <%= t('.last_updated') %><%= @last_updated %>
      </span>
    </div>
    <ul class="pl-3 space-y-1">
      <li>
        <%= t('.welcome_message_li_1_a') %>
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/VaxSpotter" class="hover:underline italic"> @vaxspotter </a>
        <%= t('.welcome_message_li_1_b') %>
      </li>
      <li><%= t('.welcome_message_li_2') %></li>
    </ul>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-8">
    <%= render partial: 'shared/notification', locals: {
                                                  message: t('.info_message'),
                                                  url: "https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/vaccines/phases.html"
                                                } %>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-16">
    <% if @valid_locations.length == 0 %>
      <%= render partial: 'no_appointments.html', locals: { text: t('.no_appointments_message'),} %>
    <% else %>
      <%= render partial: 'appointments', locals: { text: t('.new_appointments_message'),} %>
      <div data-controller="filter" class="mt-8">
        <h3 class="text-sm text-gray-600"><%= t('.search_label') %></h3>
        <div class="flex space-x-4">
          <div class="flex-1 min-w-0">
            <label for="search" class="sr-only">Search</label>
            <div class="relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div>
              <input
                data-filter-target="source"
                data-action="keyup->filter#filter"
                type="text"
                name="filterLocations"
                id="filter"
                class="py-3 pr-3 block w-full pl-10 sm:text-sm border-gray-300 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
                placeholder=<%= t('.search_placeholder') %>
              >
            </div>
          </div>
        </div>
        <div class="max-w-3xl mx-auto mt-4">
          <div data-filter-target="no-search-results" class="hidden"><%= t('.search_no_results_message') %></div>
          <ul class="space-y-8">
            <% @valid_locations.each do | location | %>
              <li
                data-filter-target="filterable"
                data-filter-key='<%= "#{location.postal_code} #{location.city} #{location.managed_by}".downcase %>'
                class="bg-white shadow-md overflow-hidden rounded-md"
              >
                <div class="rounded-t-md px-6 py-4">
                  <h3 class="text-xl"><%= location.name %></h3>
                  <p class="text-gray-700 font-light hover:underline hover:text-blue-600 inline-block align-middle">
                    <a target="_blank" rel="noopener noreferrer" href="http://maps.google.com/?q=<%= location.address %>">
                      <%= location.address %>
                      <svg class="h-4 w-4 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                      </svg>
                    </a>
                  </p>
                  <div class="flex mt-3 space-x-3">
                    <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                      <%= location.managed_by %>
                    </span>
                    <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                      <%= location.city %>
                    </span>
                    <% if location.postal_code? %>
                      <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                        <%= location.postal_code %>
                      </span>
                    <% end %>
                    <% if location.is_drive_thru? %>
                      <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                        <%= t('.new_appt_card_drivethru') %>
                      </span>
                    <% end %>
                    <% if location.is_walk_thru? %>
                      <span class="inline-flex items-center px-3 py-1 rounded-md text-sm font-medium bg-yellow-200 text-yellow-800">
                        <%= t('.new_appt_card_walkthru') %>
                      </span>
                    <% end %>
                  </div>
                </div>

                <div class="mt-3 mb-2 px-6 py-2 text-gray-600 space-y-1">
                  <% @current_appointments.each do | appointment | %>
                    <% if appointment.location_id == location.id %>
                      <div class="flex justify-start">
                        <div class="font-mono pr-3"><%= appointment.date.strftime("%b %d") %></div>
                        <% if appointment.start_time? %>
                          <div class="font-mono pr-3">&#8594; <%= appointment.start_time.strftime("%l:%M%P") %></div>
                        <% end %>
                        <% if appointment.end_time? %>
                          <div class="font-mono">- <%= appointment.end_time.strftime("%l:%M%P") %></div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>

                <a target="_blank" rel="noopener noreferrer" href=<%= location.appointment_url %> class="self-center">
                  <div class="self-center rounded-b-md bg-blue-600 hover:bg-blue-500 hover:text-white px-6 py-2">
                    <span class="flex justify-center text-white text-lg font-medium"><%= t('.new_appt_card_button') %></span>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="max-w-3xl mx-auto px-4 mt-24">
    <% if @last_24_hour_locations.length > 0 %>
      <%= render partial: 'stale_appointments', locals: {
                                                          stale_appt_msg: t('.stale_appointment_message'),
                                                          card_button: t('.stale_appt_card_button'),
                                                          drive_thru: t('.stale_appt_card_drivethru'),
                                                          walk_thru: t('.stale_appt_card_walkthru'),
                                                        } %>
    <% end %>
  </div>



