<div class="mx-auto pb-8 flex flex-col max-w-3xl px-10 space-y-8 text-xl text-gray-700 font-light">
  <div>
    <h2 class="text-2xl text-gray-900 font-semibold"><%= t('.page_title') %></h2>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold"><%= t('.question_1') %></h3>
    <p class="mt-2 text-sm"><%= t('.answer_1') %></p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold"><%= t('.question_2') %></h3>
    <p class="mt-2 text-sm">
      <%= t('.answer_2a') %>
      <a class="text-blue-600 hover:underline target="_blank" rel="noopener noreferrer" href="https://www.turbovax.info/about"><%= t('.answer_2_link_a') %></a>
      <%= t('.answer_2b') %>
    </p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold"><%= t('.question_3') %></h3>
    <p class="mt-2 text-sm"><%= t('.answer_3') %></p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold"><%= t('.question_4') %></h3>
    <p class="mt-2 text-sm"><%= t('.answer_4') %></p>
  </div>
  <div>
    <h3 class="text-lg text-gray-800 font-semibold"><%= t('.question_5') %></h3>
    <p class="mt-2 text-sm">
      <%= t('.answer_5a') %>
      <a target="_blank" rel="noopener noreferrer" href="https://volunteertransportationcenter.org/donate/" class="hover:underline text-blue-600"><%= t('.answer_5_link_a') %></a>
      <%= t('.answer_5b') %>
    </p>
  </div>
</div>