<div class="mx-auto mb-2 flex justify-center border-t-2 border-gray-200">
  <hr/>
  <div class="flex flex-col items-center">
    <p class="mt-2 px-4 italic text-base md:text-base text-gray-600 text-center">
      <small>
        <%= t('partials.footer.message_a') %>
        <a
          class="text-red-400 hover:underline font-medium"
          target="_blank"
          rel="noopener noreferrer"
          href="https://rubyonrails.org/"
        >
          Ruby on Rails
        </a>
        <%= t('partials.footer.message_b') %>
        <a
          class="text-blue-400 hover:underline font-medium"
          target="_blank"
          rel="noopener noreferrer"
          href="https://tailwindcss.com/"
        >
          TailwindCSS
        </a>
        <%= t('partials.footer.message_c') %>
        <a
          class="text-purple-400 hover:underline font-medium"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.turbovax.info/about"
        >
          TurboVax
        </a>
        <%= t('partials.footer.message_d') %>
      </small>
    </p>
    <p class="mt-2 italic text-md md:text-md text-gray-600">
      <small>
        <%= link_to t('partials.footer.disclaimer'), static_pages_disclaimer_path, class: "hover:text-blue-600 font-medium underline" %>
      </small>
    </p>
  </div>
</div>