  <%= form_with model: @appointment do |form| %>
  <div class="flex flex-col">
    <% if @appointment.errors.any? %>
      <div class="p-4 bg-red-200 text-red-800 rounded">
        <h3 class="font-semibold pb-1">Please resolve the following errors:</h3>
        <% @appointment.errors.full_messages.each do |message| %>
          <div class="mt-1"><%= message %></div>
        <% end %>
      </div>
    <% end %>

  <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

    <div class="sm:col-span-6 pb-3">
      <label for="location" class="block text-sm font-medium text-gray-700">
        Location <i class="text-blue-500">required</i>
      </label>
      <div class="mt-1">
        <%= form.select :location_id, Location.all.order('name ASC').collect { |p| ["#{p.name}: #{p.address}  ~>  id:#{p.id}", p.id] }, { :include_blank => true }, {class: "py-2 px-1 border border-gray-300 bg-white rounded-md focus:bg-white shadow block w-full sm:text-sm"} %>
      </div>
    </div>

    <div class="sm:col-span-6 pb-3">
      <label for="date" class="block text-sm font-medium text-gray-700">
        Date <i class="text-blue-500">required</i>
      </label>
      <div class="mt-1">
        <%= form.date_field :date, class: "py-2 px-1 border border-gray-300 rounded-md focus:bg-gray-200 shadow block w-full sm:text-sm" %>
      </div>
    </div>

    <div class="sm:col-span-6 pb-3">
      <label for="start_time" class="block text-sm font-medium text-gray-700">
        Start Time
      </label>
      <div class="mt-1">
        <%= form.time_field :start_time, class: "py-2 px-1 border border-gray-300 rounded-md focus:bg-gray-200 shadow block w-full sm:text-sm" %>
      </div>
    </div>

    <div class="sm:col-span-6 pb-3">
      <label for="end_time" class="block text-sm font-medium text-gray-700">
        End Time
      </label>
      <div class="mt-1">
        <%= form.time_field :end_time, class: "py-2 px-1 border border-gray-300 rounded-md focus:bg-gray-200 shadow block w-full sm:text-sm" %>
      </div>
    </div>

    <div class="sm:col-span-6 pb-3">
      <label for="vaccines_available" class="block text-sm font-medium text-gray-700">
        Vaccines Available
      </label>
      <div class="mt-1">
        <%= form.text_field :vaccines_available, class: "py-2 px-1 border border-gray-300 rounded-md focus:bg-gray-200 shadow block w-full sm:text-sm" %>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <%= form.submit "Submit Form", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  </div>

  <% end %>
</div>