<div class="flex flex-col mx-auto px-10">
  <div class="flex justify-between">
    <h1 class="text-2xl">List of Current & Future Appointments (Might be stale/taken)</h1>
    <div class="flex space-x-4">
      <%= button_to "Add New Appointment", new_appointment_path, method: "get", class: "group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %> 
    </div>
  </div>
  <div class="mt-4">
    <% if @appointments.any? %>
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-y-auto border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200 table-auto">
                <thead class="bg-gray-200 sticky">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      Date
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      Stale
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      Location Id
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      Location
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      Start Time
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      End Time
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                      Vaccines Available
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Edit</span>
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Delete</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <% @appointments.each do |appointment| %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        <%= appointment.date %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <%= appointment.is_stale %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <%= appointment.location_id %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <%= Location.find(appointment.location_id).name %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        <%= appointment.start_time %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        <%= appointment.end_time %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        <%= appointment.vaccines_available %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to "Edit", edit_appointment_path(appointment), class: "text-indigo-600 hover:text-indigo-900" %>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to "Delete", appointment_path(appointment), method: "delete", data: { confirm: "Are you sure?" }, class: "text-indigo-600 hover:text-indigo-900" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="my-8">
    <h1 class="text-2xl mb-4">Bulk Appointment Import</h1>
      <%= form_tag import_appointments_path, multipart: true do %>
        <div class="max-w-xl flex justify-center px-6 pt-8 pb-8 border-2 border-gray-300 border-dashed rounded-md">
          <div class="space-y-3 text-center">
            <div class="flex text-sm text-gray-600 flex justify-center">
              <%= file_field_tag :file, class: "" %>
            </div>
            <div>
              <p class="text-sm text-gray-500">
                Headers: location_id*, date*, start_time, end_time, vaccines_available
              </p>
            </div>
          </div>
        </div>
        <%= submit_tag "Upload Appointments CSV", class: "mt-4 group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>  
      <% end %>
  </div>
</div>