<!DOCTYPE html>
<html>
  <head>
    <title>Vaxspotter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans antialiased text-gray-900 bg-white">
    <%= render partial: "shared/header" %>
    <div class="py-4 sm:py-8">
      <%= yield %>
    </div>
    <%= render partial: "shared/footer" %>
  </body>
</html>
